.title {
  padding: 20px;
}

.title-text-and-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 800;
  color: black;
  font-size: 45px;
}
img {
  width: 70px;
  height: 70px;
}

p {
  text-align: center;
}
